<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <!-- Esto ya lo tienes (para WhatsApp) -->
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />

        <!-- ⚠️⚠️ TIENES QUE AGREGAR ESTO PARA VER LAS DEMÁS APPS ⚠️⚠️ -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/png" />
        </intent>
    </queries>

    <application
        android:name="com.carlosv.dolaraldia.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MENULATERAL"
        tools:targetApi="31">

        <!-- ✅ Receiver del widget -->
        <receiver
            android:name=".AppWidgetHome"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_home_info" />
        </receiver>

        <activity
            android:name="com.carlosv.dolaraldia.ui.pago.PlanesPagoActivity"
            android:exported="false" />
        <activity
            android:name="com.carlosv.dolaraldia.ui.pago.DetallesPagoMActivity"
            android:exported="false" />

        <activity
            android:name="com.carlosv.dolaraldia.ui.pago.MercantilSearchActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3265312813580307~7177373128" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.carlosv.dolaraldia.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"> <!-- Usa un tema sin barra -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.carlosv.dolaraldia.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MENULATERAL"
            android:windowSoftInputMode="adjustPan">

            <nav-graph android:value="@navigation/mobile_navigation" />

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.carlosv.menulateral.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.carlosv.dolaraldia.services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

    </application>
</manifest>


